:root {
    --color-white: #82C91E;
    --color-black: #333;
    --color-gray: #75787b;
    --color-gray-light: #bbb;
    --color-gray-disabled: #e8e8e8;
    --color-green: #82C91E;
    --color-green-dark: #383;
    --font-size-small: .75rem;
    --font-size-default: .875rem;
}

* {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
}


/*========= Aqui começa o body ==========*/

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 124, 118);
    background-image: linear-gradient(10deg, rgb(255, 255, 255) 37%, transparent 37%), linear-gradient(-60deg, rgb(255, 124, 118) 30%, transparent 30%);
}


/*========= Aqui termina ==========*/


/*========= Aqui começa o header ==========*/

header {
    overflow: hidden;
    padding: 20px 10px;
    background: #FFFFFF;
    height: 75px;
}


/*========= Aqui termina o header ==========*/


/*========= Aqui começa o main ==========*/

main {
    position: absolute;
    width: 808px;
    height: auto;
    left: 453px;
    top: 361px;
    background: rgb(255 255 255 / 0%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}


/*========= Aqui termina o main ==========*/


/*========= Aqui começa hr. esse hr faz uma linha na horizontal ==========*/

hr {
    position: absolute;
    width: 710px;
    height: 0px;
    z-index: 1;
    left: 3rem;
    top: 27.5rem;
    border: 1px solid #F6F5F5;
}


/*========= Aqui termina o hr ==========*/

.titulo {
    position: absolute;
    width: 710px;
    height: 0px;
    z-index: 1;
    left: 0rem;
    top: -3.5rem;
    color: #FFFFFF;
}


/*========= Aqui faz referencia para o logo ==========*/

a.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF7C76;
    text-decoration: none;
    position: relative;
    left: 9rem;
    top: 1.5rem;
}


/*========= Aqui termina tag logo ==========*/


/*========= Aqui começa o menu ao lado do logo ==========*/

#menu li {
    width: 25px;
    height: 2px;
    background-color: #FF7C76;
    margin-top: 2rem;
    margin: 6px 0;
    border-radius: 10px;
    list-style-type: none;
    margin-left: 10rem;
}

#menu {
    left: -6rem;
    margin-top: -0.5rem;
    position: relative;
}


/*========= Aqui termina o menu ==========*/


/*========= Aqui começa o compo de busca! ==========*/

.search-wrap .search {
    position: relative;
    width: 20rem;
    height: 2.5rem;
    top: -3rem;
    left: 17rem;
    border: 1px solid rgba(193, 139, 134, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    outline: 0;
}

.search-button {
    background: transparent;
    border: none;
    left: 14rem;
    top: -2.7rem;
    color: #5A4B49;
    position: relative;
}


/*========= Aqui termina o compo de busca! ==========*/


/*========= Aqui começa a class compras ==========*/


/*--------tudo da class de compras etá tudo aqui dentro! -------*/

.compras a {
    left: 40rem;
    top: -4.5rem;
    bottom: 44%;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    position: relative;
    text-decoration: none;
}

.iconCompras {
    position: relative;
    left: 54.1rem;
    right: 25.41%;
    top: -6.5rem;
    bottom: 21.33%;
    border-radius: 100px;
}

.iconComprasBag {
    position: relative;
    left: 0.8rem;
    top: -2.1rem;
    right: 26.34%;
    bottom: 37.33%;
}

.iconAvatar {
    position: relative;
    left: 59rem;
    top: -10rem;
    right: 22.83%;
    bottom: 49.19%;
}

.iconAvatar a {
    font-size: 14px;
    line-height: 15px;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}


/*========= Aqui termina a class compras ==========*/


/*========= Aqui começa a sidebar ==========*/


/*----- ta tudo incluido aqui dentro, avatar, 
Tags A, nav, ul, li e btn. ---------*/

.sidebar {
    position: absolute;
    width: 310px;
    height: 536px;
    left: 115px;
    top: 200px;
    background: #FFFFFF;
    border-radius: 4px;
}

.avatarSidebar {
    position: relative;
    width: 64px;
    height: 64px;
    left: 112px;
    top: 1rem;
    background: url();
}

.iconSidebar1 {
    position: relative;
    left: 1rem;
    top: -3.1rem;
    right: 48.91%;
    bottom: 92.04%;
}

.iconSidebar2 {
    position: relative;
    left: 68.78%;
    right: 41.41%;
    bottom: 89%;
}

.iconSidebar3 {
    position: relative;
    left: 3.1rem;
    top: -5.1rem;
    right: 43.36%;
    bottom: 90.08%;
}

.nav a.name {
    position: absolute;
    inset: 21.09% 23.83% 84.02% 24.02%;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: rgb(90, 75, 73);
    text-decoration: none;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin-top: 21.48%;
    margin-bottom: 1rem;
    padding: 2rem;
    line-height: 2em;
    text-decoration: none;
    list-style-type: none;
}

.nav ul li a {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: rgb(90, 75, 73);
    text-decoration: none;
    list-style-type: none;
}

.menu {
    height: 100%;
    width: 220px;
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.menu ul li {
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.menu ul li a.active,
.menu ul li a:hover {
    background: rgba(249, 243, 243, 0.5);
    border: 1px solid rgba(243, 232, 231, 0.5);
    box-sizing: border-box;
    border-radius: 6px;
}

.menu ul li span {
    margin-left: 16px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

.btn {
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    border: none!important;
    background-color: white!important;
}


/*========= Aqui termina sidebar==========*/


/*========= Aqui começa o detalhamento de compras ==========*/


/*--------------Nessa parte de código está tudo vinculado a parte de compras, notificações,
valores das compras, notificação de transporte, quantos intens foram comprados e etc.---------*/

.meusPedidos {
    position: absolute;
    width: 808px;
    height: 582px;
    left: -1px;
    top: 1px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.pedido01 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 4%;
    top: 30px;
    background: #82C91E;
    border-radius: 8px;
}

.notificacao {
    position: absolute;
    width: 808px;
    height: 100px;
    left: 0px;
    top: 629px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.notificacao .pedido02 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 23px;
    background: #4C6EF5;
    border-radius: 8px;
    z-index: 1;
}

.notificacao .numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 129px;
    top: 31px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.notificacao .status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 108px;
    top: 53px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #4C6EF5;
}

.notificacao .numeroPedido i {
    position: relative;
    left: 13%;
    right: 64.46%;
    top: -23px;
}

.notificacao .dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 383px;
    top: -37px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.notificacao .itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 384px;
    top: -27px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.notificacao .detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -81px;
    background: rgb(247, 246, 246, 0.6);
    border-radius: 4px;
}

.notificacao02 {
    position: absolute;
    width: 808px;
    height: 100px;
    left: 0px;
    top: 750px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.notificacao02 .pedido02 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 23px;
    background: #7950F2;
    border-radius: 8px;
    z-index: 1;
}

.notificacao02 .numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 129px;
    top: 31px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.notificacao02 .status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 108px;
    top: 53px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #7950F2;
}

.notificacao02 .numeroPedido i {
    position: relative;
    left: 13%;
    right: 64.46%;
    top: -23px;
}

.notificacao02 .dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 383px;
    top: -37px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.notificacao02 .itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 384px;
    top: -27px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.notificacao02 .detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -81px;
    background: rgb(247, 246, 246, 0.6);
    border-radius: 4px;
}

.notificacao03 {
    position: absolute;
    width: 808px;
    height: 100px;
    left: 0px;
    top: 872px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.notificacao03 .pedido02 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 23px;
    background: #40C057;
    border-radius: 8px;
    z-index: 1;
}

.notificacao03 .numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 129px;
    top: 31px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.notificacao03 .status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 108px;
    top: 53px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #40C057;
}

.notificacao03 .numeroPedido i {
    position: relative;
    left: 13%;
    right: 64.46%;
    top: -23px;
}

.notificacao03 .dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 383px;
    top: -37px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.notificacao03 .itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 384px;
    top: -27px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.notificacao03 .detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -81px;
    background: rgb(247, 246, 246, 0.6);
    border-radius: 4px;
}

.notificacao04 {
    position: absolute;
    width: 808px;
    height: 100px;
    left: 0px;
    top: 994px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.notificacao04 .pedido02 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 23px;
    background: #20C997;
    border-radius: 8px;
    z-index: 1;
}

.notificacao04 .numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 129px;
    top: 31px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.notificacao04 .status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 108px;
    top: 53px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #20C997;
}

.notificacao04 .numeroPedido i {
    position: relative;
    left: 13%;
    right: 64.46%;
    top: -23px;
}

.notificacao04 .dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 383px;
    top: -37px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.notificacao04 .itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 384px;
    top: -27px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.notificacao04 .detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -81px;
    background: rgb(247, 246, 246, 0.6);
    border-radius: 4px;
}

.notificacao05 {
    position: absolute;
    width: 808px;
    height: 100px;
    left: 0px;
    top: 1118px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.notificacao05 .pedido02 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 23px;
    background: #FA5252;
    border-radius: 8px;
    z-index: 1;
}

.notificacao05 .numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 129px;
    top: 31px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
}

.notificacao05 .status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 108px;
    top: 53px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #FA5252;
}

.notificacao05 .numeroPedido i {
    position: relative;
    left: 13%;
    right: 64.46%;
    top: -23px;
}

.notificacao05 .dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 383px;
    top: -37px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.notificacao05 .itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 384px;
    top: -27px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.notificacao05 .detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -81px;
    background: rgb(247, 246, 246, 0.6);
    border-radius: 4px;
}

.svg {
    position: absolute;
    width: 15.83px;
    height: 15px;
    left: 32%;
    top: 16px;
}

.numeroPedido a {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 99px;
    top: 10px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    white-space: nowrap;
    text-decoration: none;
}

.numeroPedido i {
    position: relative;
    left: 144.79%;
    right: 64.46%;
    top: 6px;
}

.status {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 76px;
    top: 30px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #82C91E;
    white-space: nowrap;
}

.cash-inco1 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 38%;
    top: 30px;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 43.0556px;
}

.cash-inco2 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 40.4%;
    top: 30px;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 43.0556px;
}

.dinheiro a {
    position: relative;
    width: 95px;
    height: 9px;
    left: 378px;
    top: -12px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}

.itens a {
    text-decoration: none;
    position: relative;
    width: 124px;
    height: 9px;
    left: 380px;
    top: -3px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

.detalhes ul {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 521px;
    top: -60px;
    background: rgba(247, 246, 246, 0.6);
    border-radius: 4px;
}

.detalhes li a {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 213px;
    height: 50px;
    left: 37px;
    top: -1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

.detalhes i.icon {
    position: relative;
    left: 71.31%;
    right: 16.74%;
    top: -2.1rem;
    bottom: 77.29%;
    white-space: nowrap;
    text-decoration: none;
    /* $cor-txt */
}

.cards1 {
    position: absolute;
    width: 759px;
    height: 80px;
    left: 21px;
    top: 98px;
    background: rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(239, 237, 237, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
}

.icon-cards1 {
    position: relative;
    width: 18.44px;
    height: 15.09px;
    left: 34px;
    top: 39px;
}

.frete {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 57px;
    top: -7px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #5A4B49;
}

.valor {
    position: absolute;
    width: 57px;
    height: 9px;
    left: 57px;
    top: 17px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #AEABAA;
}

.envio {
    position: absolute;
    width: 81px;
    height: 22px;
    left: 161px;
    top: 46px;
    border: 1px solid #EFEDED;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
}

.envio a {
    text-decoration: none;
    position: absolute;
    width: 60px;
    height: 11px;
    left: 7px;
    top: 2.9px;
    align-items: center;
    text-align: center;
    color: #5A4B49;
}

.formasPagamentos {
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    width: 152px;
    height: 9px;
    left: 321px;
    top: 13px;
}

.valor1 {
    position: absolute;
    width: 95px;
    height: 9px;
    left: 28px;
    top: -7px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #5A4B49;
}

.valor2 {
    position: absolute;
    width: 57px;
    height: 9px;
    left: 28px;
    top: 17px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #AEABAA;
}

.entrega {
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    width: 152px;
    height: 9px;
    left: 321px;
    top: 13px;
}

.valor3 {
    position: absolute;
    width: 57px;
    height: 9px;
    left: 218px;
    top: -16px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #AEABAA;
}

.valor4 {
    position: absolute;
    width: 57px;
    height: 9px;
    left: 219px;
    top: 7px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #82C91E;
}

.adicionar {
    position: relative;
    width: 50px;
    height: 50px;
    left: 683px;
    top: -22px;
    background: #FCFCFC;
    border: 1px solid #EFEDED;
    box-sizing: border-box;
    border-radius: 8px;
}

.adicionar a {
    position: relative;
    width: 50px;
    height: 50px;
    left: 16px;
    top: 15px;
}


/*========= Aqui começa a linha de progrsso  que esta dentro de minhas compras==========*/

section {
    margin-bottom: 2rem;
    margin-top: 14rem;
    width: 43rem;
    margin-left: 3rem;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.progress-bar li {
    flex: 2;
    position: relative;
    padding: 0 0 14px 0;
    line-height: 1.5;
    color: #AEABAA;
    font-weight: 600;
    overflow: visible;
    min-width: 0;
    text-align: center;
}

.progress-bar li a.state1 {
    position: absolute;
    width: 71px;
    height: 21px;
    left: -28px;
    top: 50px;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

a.state2 {
    position: absolute;
    width: 71px;
    height: 21px;
    left: 52px;
    top: 50px;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

a.state3 {
    position: absolute;
    width: 71px;
    height: 21px;
    left: 52px;
    top: 50px;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

a.state4 {
    position: absolute;
    width: 71px;
    height: 21px;
    left: 147px;
    top: 50px;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt-claro2 */
    color: #AEABAA;
}

a.data-hora1 {
    position: absolute;
    width: 59px;
    height: 9px;
    left: -17px;
    top: 82px;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

a.data-hora2 {
    position: absolute;
    width: 59px;
    height: 9px;
    left: 59px;
    top: 82px;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

a.data-hora3 {
    position: absolute;
    width: 59px;
    height: 9px;
    left: 59px;
    top: 82px;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

a.data-hora4 {
    position: absolute;
    width: 59px;
    height: 9px;
    left: 59px;
    top: 82px;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

a.data-hora5 {
    position: absolute;
    width: 59px;
    height: 9px;
    left: 155px;
    top: 82px;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}

.progress-bar li:first-child,
.progress-bar li:last-child {
    flex: 1;
}

.progress-bar li:last-child {
    text-align: right;
}

.progress-bar li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--color-gray-disabled);
    border-radius: 50%;
    border: 2px solid var(--color-white);
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all .2s ease-in-out;
}

.progress-bar li:first-child:before {
    left: 0;
}

.progress-bar li:last-child:before {
    right: 0;
    left: 6.7rem;
}

.progress-bar span {
    transition: opacity .3s ease-in-out;
}

.progress-bar li:not(.is-active) span {}

.progress-bar .is-complete:not(:first-child):after,
.progress-bar .is-active:not(:first-child):after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid var(--color-green);
}

.progress-bar li:last-child span {
    width: 200%;
    display: inline-block;
    position: absolute;
    left: -100%;
}

.progress-bar .is-complete:last-child:after,
.progress-bar .is-active:last-child:after {
    width: 200%;
    left: -100%;
}

.progress-bar .is-complete:before {
    background-color: var(--color-green);
}

.progress-bar .is-active:before,
.progress-bar li:hover:before,
.progress-bar .is-hovered:before {
    background-color: var(--color-white);
    border-color: var(--color-green);
}

.x-ray .progress-bar,
.x-ray .progress-bar li {
    border: 1px dashed red;
}

.progress-bar .has-changes {
    opacity: 1 !important;
}

.progress-bar .has-changes:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: calc(50% - 4px);
    bottom: -20px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
}


/*========= Aqui termina a parte de progresso ==========*/


/*========= Aqui começa a parte de confirmação do produto comprado ==========*/

.confirmation {
    position: relative;
    width: 50px;
    height: 50px;
    left: 98%;
    top: -41px;
    background: #82C91E;
    border-radius: 8px;
}

.produto {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 49px;
    top: 341px;
    background: #000000;
    border-radius: 8px;
}

.produto1 {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 49px;
    top: 471px;
    background: #000000;
    border-radius: 8px;
}

.nome-Produto {
    position: absolute;
    width: 132px;
    height: 9px;
    left: 85px;
    top: 6px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
}


/*========= Aqui termina a parte de confirmação ==========*/


/*========= Aqui começa a tag sobre valores ==========*/

.cash {
    position: absolute;
    width: 124px;
    height: 9px;
    left: 86px;
    top: 26px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: #5A4B49;
}

.cash-item {
    position: absolute;
    width: 132px;
    height: 9px;
    left: 0px;
    top: -1px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #AEABAA;
}


/*========= Aqui termina ==========*/


/*========= Aqui começa a quantidade de produtos adquiridos ==========*/

.unidade select {
    position: absolute;
    width: 154px;
    height: 22px;
    left: 191px;
    top: 47px;
    border: 1px solid #EFEDED;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
}

.unidade-valor a {
    position: absolute;
    width: 69px;
    height: 9px;
    left: 87px;
    top: 57px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    text-decoration: none;
    color: #5A4B49;
}


/*========= Aqui termina ==========*/


/*========= Aqui aqui seleciona os tamanho P, M  ou G ==========*/

.medidas select {
    position: absolute;
    width: 103px;
    height: 22px;
    left: 393px;
    top: 47px;
    border: 1px solid #EFEDED;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(90, 75, 73, 0.1);
}


/*========= Aqui termina ==========*/


/*========= Aqui a avaliação do produto ==========*/

.avaliacao {
    position: absolute;
    width: 119px;
    height: 9px;
    left: 560px;
    top: 54px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    white-space: nowrap;
    color: #5A4B49;
}

.avaliacao a {
    position: absolute;
    width: 119px;
    height: 9px;
    left: 30px;
    top: 1px;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    white-space: nowrap;
    color: #5A4B49;
}


/*========= Aqui termina ==========*/


/*========= Aqui a footer ==========*/

.footer {
    position: absolute;
    right: 0px;
    height: 10rem;
    bottom: 0px;
    left: 0px;
    top: 112rem;
    padding: 1rem;
    background-color: #F8F9FA;
    text-align: center;
}

.footer div p {
    position: absolute;
    left: 13.23%;
    right: 13.43%;
    top: 56.35%;
    bottom: 30.56%;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    letter-spacing: -0.008em;
    color: #000000;
}

.footer div h3 {
    position: absolute;
    left: 13.43%;
    right: 77.13%;
    top: 17%;
    bottom: 71.03%;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: rgba(0, 0, 0, 0.6);
}

.footer .cartoes i {
    position: absolute;
    left: 13.43%;
    right: 84.11%;
    top: 34.52%;
    bottom: 56.43%;
}

.footer .siteblidado {
    position: absolute;
    left: 58.77%;
    right: 34.62%;
    top: 28.97%;
    bottom: 60.32%;
    background: url(../img/seal\ 1.png);
    background-repeat: repeat-y;
}

.footer .reclameaqui {
    position: absolute;
    left: 68.49%;
    right: 24.76%;
    top: 25%;
    bottom: 56.35%;
    background: url(../img/reclame-aqui\ 1.png);
    background-repeat: repeat-y;
}

.footer .comprasegura i {
    position: absolute;
    left: 78.34%;
    right: 13.41%;
    top: 25.4%;
    bottom: 57.54%;
}


/*========= Aqui termina ==========*/