body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 124, 118);
    background-image: linear-gradient(10deg, rgb(255, 255, 255) 50%, transparent 50%), linear-gradient(-60deg, rgb(255, 124, 118) 30%, transparent 30%);
}

header {
    overflow: hidden;
    padding: 20px 10px;
    background: #FFFFFF;
    height: 75px;
}

a.logo {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #FF7C76;
    text-decoration: none;
    position: relative;
    left: 9rem;
    top: 1.5rem;
}

li {
    width: 25px;
    height: 2px;
    background-color: #FF7C76;
    margin-top: 2rem;
    margin: 6px 0;
    border-radius: 10px;
    list-style-type: none;
    margin-left: 10rem;
}

ul {
    left: -6rem;
    margin-top: -0.5rem;
    position: relative;
}

.search-wrap .search {
    position: relative;
    width: 20rem;
    height: 2.5rem;
    top: -3rem;
    left: 17rem;
    border: 1px solid rgba(193, 139, 134, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    outline: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
}

.search-button {
    background: transparent;
    border: none;
    left: 14rem;
    top: -2.7rem;
    color: #5A4B49;
    position: relative;
}

.compras a {
    left: 40rem;
    top: -4.5rem;
    bottom: 44%;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    /* $cor-txt */
    color: #5A4B49;
    position: relative;
}

.iconCompras {
    position: relative;
    left: 54.1rem;
    right: 25.41%;
    top: -6.5rem;
    bottom: 21.33%;
    border-radius: 100px;
}

.iconComprasBag {
    position: relative;
    left: 0.8rem;
    top: -2.1rem;
    right: 26.34%;
    bottom: 37.33%;
}

.iconAvatar {
    position: relative;
    left: 59rem;
    top: -10rem;
    right: 22.83%;
    bottom: 49.19%;
}

.iconAvatar a {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    /* $cor-txt */
    color: #5A4B49;
    text-decoration: none;
}


/*-----Começando Sidebar------*/

.sidebar {
    position: absolute;
    width: 310px;
    height: 536px;
    left: 115px;
    top: 133px;
    background: #FFFFFF;
    border-radius: 4px;
}

.avatarSidebar {
    position: relative;
    width: 64px;
    height: 64px;
    left: 112px;
    top: 1rem;
    background: url();
}

.iconSidebar1 {
    position: relative;
    left: 1rem;
    top: -3.1rem;
    right: 48.91%;
    bottom: 92.04%;
}

.iconSidebar2 {
    position: relative;
    left: 68.78%;
    right: 41.41%;
    bottom: 89%;
}

.iconSidebar3 {
    position: relative;
    left: 3.1rem;
    top: -5.1rem;
    right: 43.36%;
    bottom: 90.08%;
}

.nav a.name {
    position: absolute;
    inset: 21.09% 23.83% 84.02% 24.02%;
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: rgb(90, 75, 73);
    text-decoration: none;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 2rem;
    line-height: 2em;
    text-decoration: none;
    list-style-type: none;
}

.nav ul li a {
    position: relative;
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: rgb(90, 75, 73);
    text-decoration: none;
    list-style-type: none;
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
}

@media only screen and (max-device-width: 700px) {
    /* .menu { width:400px; } */
}